body {
    color: black;
    font-family: Arial, Helvetica, Sans-serif;
    font-size: 10pt;
    margin: 0 auto;
   
}
h1 {text-align:center;
}
h3 {text-align:center;
}
#content {margin:0 auto;
         width:700px;
         border: 2px solid black;
         
}

#lsidebar {float:left;
          width:180px;
          border:2px solid black;
          height:500px;
          padding:20px 5px 5px 5px;
           
}

#rsidebar {
    float: right;
    width: 450px;
    border: 2px solid black;
      padding:20px 5px 5px 35px;
    height: 500px;
    
}
#footer { text-align:center;
}
